* {
  box-sizing: border-box;
}

:root {
  --Amatic: 'Amatic SC', cursive;
}
body {
  font-size: 16px;
}

nav {
  text-transform: uppercase;
}

nav li {
  padding: 0.5em 1em;
}

#navigation ul {
  list-style: none;
}


#logo {
  height: auto;
  width: 200px;
  border-radius: 10%;
  margin-top: 2em;
}

h1 {
  font-size: 3em;
  font-family: var(--Amatic);
  font-weight: 1000;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  height: 500px;
  background-image: url("images/kitten1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: white;
  color: rgba(255,255,255, 0.5);
  margin-top: 0.5em;
  padding-left: 0;
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {

  padding: 0.5em 0;
  text-decoration: none;
  display: block;
  border-top: 1px gray solid;
}

.dropdown-content > a > li {
  padding: 0 0.75em;
}

.dropdown-content a {
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
  color: #343a40 !important;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.panels p {
  cursor: pointer;
}
