* {
  box-sizing: border-box;
}

html {
  background-color: slategray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", cursive;
}

body {
  font-size: 16px;
  max-width: 1400px;
  margin: auto;
  border-radius: 10px;
}

main {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

main p:first-child {
  margin: 30px;
  font-style: italic;
  padding-left: 5px;
}

nav {
  text-transform: uppercase;
  margin: auto;
}

nav li {
  padding: 0.5em 1em;
}

#navigation ul {
  list-style: none;
}

#logo {
  height: auto;
  width: 175px;
  border-radius: 10%;
  margin-top: 1em;
}

h1 {
  display: inline-block;
  font-size: 4.5em;
  font-family: "Amatic SC", cursive;
  font-weight: 1000;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 4em;
  padding: 0 30px;
  font-weight: 700;
}

.panel h3 {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  font-family: "Amatic SC", cursive;
}

header p {
  font-style: italic;
  font-size: 1.5em;
  font-weight: 800;
  font-family: "Amatic SC", cursive;
  padding-left: 3.5em;
  margin-top: -0.5em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5em;
  padding-left: 0;
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 0.5em 0;
  text-decoration: none;
  display: block;
  border-top: 1px gray solid;
}

.dropdown-content > a > li {
  padding: 0 0.75em;
}

.dropdown-content a {
  background-color: #343a40;
  color: white;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
  color: #343a40 !important;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  height: 500px;
  background-image: url("images/kitten1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panels p:hover {
  cursor: pointer;
  color: blue;
}

.card-group {
  margin: 0 30px;
}

.card-img-top {
  height: 300px;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
  margin: auto;
}

.toc_title {
  font-weight: 700;
  text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li {
  list-style: outside none none !important;
}

.main-content {
  width: 80%;
  margin: auto;
}
.main-content h3 {
  text-align: center;
  font-family: sans-serif;
}

.flex-wrapper {
  display: flex;
  width: 100%;
}

aside {
  flex-basis: 30%;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 4px;
}

.cat_pic {
  display: flex;
  border: black 1px solid;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.cat_pic h3 {
  background-color: black;
  text-align: center;
  color: white;
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px gray;
}
.cat_pic .cat_pic_resize {
  width: 100%;
  height: auto;
  margin: auto;
}
.cat_pic table {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.cat_pic th, .cat_pic td {
  padding: 2px 5px;
}
.cat_pic tr:nth-of-type(2n+1) {
  background-color: coral;
}

/*# sourceMappingURL=styles.css.map */
